/*
Font: 		Rockness
Style: 		
URL: 		https://youworkforthem.com/font/T10498/rockness
Foundry: 	Abdul Malik Wisnu
Foundry: 	https://youworkforthem.com/designer/1183/abdul-malik-wisnu
Copyright:	
Version: 	18
Created:	April 11, 2026
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Rockness';
	src: url('rockness.woff2') format('woff2'),
	     url('rockness.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
